<!-- begin custom head snippets -->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/PartnerCrucible/Library/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/PartnerCrucible/Library/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/PartnerCrucible/Library/favicon-16x16.png">
<link rel="manifest" href="/PartnerCrucible/Library/site.webmanifest">

<!-- page view counter -->
<script async src="https://api.countapi.xyz/hit/lagimik.github.io/PartnerCrucible?callback=cb"></script>

<script></script>
function callbackName(response) {
    document.getElementById('visits').innerText = response.value;
}
</script>
<!-- end custom head snippets -->