<!-- begin custom head snippets -->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/PartnerCrucible/Library/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/PartnerCrucible/Library/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/PartnerCrucible/Library/favicon-16x16.png">
<link rel="manifest" href="/PartnerCrucible/Library/site.webmanifest">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">

<!-- end custom head snippets -->

<!-- Breadcrumbs -->
{% include breadcrumbs.html %}

<!-- Site Analytics -->
{% include google-analytics.html %}

