<!-- begin custom head snippets -->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/PartnerCrucible/Library/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/PartnerCrucible/Library/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/PartnerCrucible/Library/favicon-16x16.png">
<link rel="manifest" href="/PartnerCrucible/Library/site.webmanifest">


<!-- end custom head snippets -->

<!-- Breadcrumbs -->
{% include breadcrumbs.html %}
